{% extends 'base.html.twig' %}

{% block title %}test{% endblock %}

{% block body %}

<div class="card card-image" id="view">
  <div class="text-white text-center py-5 px-4 my-5">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Pour que l'affaire soit dans le sac</strong></h2>
      <p class="mx-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
      </p>
    </div>
  </div>
</div>

<main>

    <section id="home-one">
            <!-- One -->
            <article class="female">

                <div id="female" class="home-categories">
                </div>

                <div class="content">
                    <h2>Femme</h2>
                    {# <a href="{{ path('article_gallery', {'category' : 'femme' })}}" class="btn btn-outline-info waves-effect">Découvrir</a></li> #}
                    <a href="{{ path('woman_gallery')}}" class="btn btn-deep-purple btn-lg active btn-sm" role="button" aria-pressed="true">Découvrir</a>
                </div>
                <div class="vitrine">

                    {% for article in articles %}

                     <a href="{{ path('article_display' , {'id': article.id}) }}"><img src="../../assets/img/poster/{{ article.poster }}" alt=""></a>

                    {% endfor %}

                </div>
            </article>


            <!-- Two -->
            <article class="man">

                <div id="man" class="home-categories">
                </div>
                <div class="content">
                    <h2>Homme</h2>
                    <a href="{{ path('man_gallery')}}" class="btn btn-elegant btn-lg active btn-sm">Découvrir</a></li>
                </div>
                <div class="vitrine">

                    {% for article in articles %}
                    <a href="{{ path('article_display' , {'id': article.id}) }}"><img src="../../assets/img/poster/{{ article.poster }}" alt=""></a>
                    {% endfor %}

                </div>
            </article>

            <!-- Three -->
            <article class="kid">

                <div id="kid" class="home-categories"></div>
                <div class="content">
                    <h2>Scolaire</h2>
                     <a href="{{ path('kid_gallery')}}" class="btn btn-unique btn-lg active btn-sm">Découvrir</a></li>
                </div>
                <div class="vitrine">
                    {% for article in articles %}
                     <a href="{{ path('article_display' , {'id': article.id}) }}"><img src="../../assets/img/poster/{{ article.poster }}" alt=""></a>
                    {% endfor %}
                </div>

            </article>

            <!-- Four -->
            <article class="bagages">

                <div id="bagages" class="home-categories"></div>
                <div class="content">
                    <h2>Bagages</h2>
                    <a href="{{ path('bagage_gallery')}}" class="btn btn-brown btn-lg active btn-sm">Découvrir</a></li>
                </div>
                <div class="vitrine">
                    {% for article in articles %}
                     <a href="{{ path('article_display' , {'id': article.id}) }}"><img src="../../assets/img/poster/{{ article.poster }}" alt=""></a>
                    {% endfor %}
                </div>

            </article>

    </section>

</main>

{% endblock %}