<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Primebag{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.15/css/mdb.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
        {% endblock %}
    </head>

        <nav class="admin-navbar" id="admin-topnavbar">
            <a href="{{ path('home') }}"><img src="{{ asset('assets/img/miniprimebag.png') }}" alt="logo primeBag"></a>
            <a href="{{ path('admin_login') }}">Admin</a>
            <a href="{{ path('admin_add') }}">Ajouter article</a>
            <a href="{{ path('admin_all') }}">Tout sur une page</a>
            <a href="{{ path('admin_article') }}">Modifier/Effacer article</a>
            <a href="{{ path('admin_user') }}">Supprimer utilisateur</a>
            <a href="{{ path('logout') }}">Déconnecter</a>
            <a href="#" class="icon" onclick="function_menu()">&#9776;</a>
        </nav>

    {% block body %}{% endblock %}


    <!-- Footer -->
    <div class="to-top"><a rel="nofollow" href="#">Haut de page</a></div>
    <footer class="footer-flex">
        <div class="footer-flex-child">
            <p><a href="{{ path('home') }}">Primebag</a></p>
            <p>Bienvenue dans la partie Admin. Vous pouvez voir, ajouter, modifier ou effacer des articles ici. Vous pouvez aussi supprimer des utilisateurs.</p>
        </div>
        <div class="footer-flex-child center">
            <div class="b">
            Catégories
            </div><br>
            <p>
            <a href="#">Femme</a>
            </p>
            <p>
            <a href="#">Homme</a>
            </p>
            <p>
            <a href="#">Scolaire</a>
            </p>
            <p>
            <a href="#">Bagages</a>
            </p>          
        </div>
        <div class="footer-flex-child">
            <div class="center b">
            Suivez-nous
            </div>
            <div class="boxflex">
            <div class="boxelement">
                <div id="fb"></div>
                <div class="text"><a href="#">Facebook</a></div>
            </div>
            <div class="boxelement">
                <div id="tw"></div>
                <div class="text"><a href="#">Twitter</a></div>
            </div>
            <div class="boxelement">
                <div id="instagr"></div>
                <div class="text"><a href="#">Instagram</a></div>
            </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->

    {% block javascripts %}

    <script src="{{ asset('assets/js/admin.js') }}"></script>
    {% endblock %}

    </body>
</html>