{% extends 'admin/adminbase.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h1 class="center progressive">Admin - Liste des articles</h1>

    {# Pagination #}
    <div class="center margin">
        <div class="pagination">
            <a class="{% if page == 1 %}disabled{% endif %}" href="{{ path('admin_article', {'page': page - 1}) }}"> « </a>

            {% for i in 1..pages %}
            <a class="page-item {% if page == i %}active{% endif %}" href="{{ path('admin_article', {'page': i}) }}">{{ i }}</a>

            {% endfor %}
            <a class="page-item {% if page == pages %}disabled{% endif %}" href="{{ path('admin_article', {'page': page + 1}) }}"> » </a>
        </div>
    </div>

    {# Tableau #}
    <div class="admin-list">
        <div class="admin-flex">
            <div class="admin-flex-child desktop">ID</div>
            <div class="admin-flex-child admin-img">Image</div>
            <div class="admin-flex-child">Marque</div>
            <div class="admin-flex-child">Nom</div>
            <div class="admin-flex-child">Catégorie</div>
            <div class="admin-flex-child desktop">Stock</div>
            <div class="admin-flex-child desktop">Prix</div>
            <div class="admin-flex-child">Référence</div>
            <div class="admin-flex-child">Vitrine</div>
            <div class="admin-flex-child">Tag</div>
            <div class="admin-flex-child">Modifier</div>
            <div class="admin-flex-child">Supprimer</div>
        </div>
    </div>

    {% for art in articles %}

        {# Message Flash #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="boxdotted flash-{{ label }}">
                    <h2 class="center">{{ message }}</h2>
                </div>
            {% endfor %}
        {% endfor %}
        {# {{dump(app.flashes)}} #}

        <div class="admin-list">
            <div class="admin-flex">
                <div class="admin-flex-child desktop">{{ art.id }}</div>
                <div class="admin-flex-child admin-img"><a href="{{ asset('assets/img/poster/') }}{{ art.poster }}" target="_blank"><img src="{{ asset('assets/img/poster/') }}{{ art.poster }}" alt="{{ art.name }}"></a></div>
                <div class="admin-flex-child">{{ art.brand.name }}</div>
                <div class="admin-flex-child">{{ art.name }}</div>
                <div class="admin-flex-child">{{ art.categories[0].name }}</div>
                {% if art.stock <= 2 %}
                <div class="admin-flex-child desktop text-red">
                {% else %}
                <div class="admin-flex-child desktop text-green">
                {% endif %}
                {{ art.stock }}
                </div>
                <div class="admin-flex-child desktop">{{ art.price }}</div>
                <div class="admin-flex-child">{{ art.reference }}</div>
                {% if art.showcase == 1 %}
                {# <div class="admin-flex-child">{{ art.showcase }}</div> #}
                <div class="admin-flex-child">Oui</div>
                {% else %}
                <div class="admin-flex-child">Non</div>
                {% endif %}

                {# {{dump(art.tag)}} #}

                {% if art.tag.name is defined %}
                <div class="admin-flex-child">{{art.tag.name}}</div>
                {% else %}
                <div class="admin-flex-child">null</div>
                {% endif %}

                <div class="admin-flex-child"><a href="{{ path('admin')}}/{{ art.id }}/edit">🖍</a></div>
                <div class="admin-flex-child"><a href="{{ path('admin')}}/{{ art.id }}/del" onclick="if(window.confirm('Voulez-vous vraiment supprimer ?')) {return true;} else {return false;}">X</a></div>
            </div>
        </div>

    {% endfor %}

    {# Pagination #}
    <div class="center margin">
        <div class="pagination">
            <a class="{% if page == 1 %}disabled{% endif %}" href="{{ path('admin_article', {'page': page - 1}) }}"> « </a>

            {# Boucle de 1 au nombre de pages #}
            {% for i in 1..pages %}
            <a class="page-item {% if page == i %}active{% endif %}" href="{{ path('admin_article', {'page': i}) }}">{{ i }}</a>

            {% endfor %}
            <a class="page-item {% if page == pages %}disabled{% endif %}" href="{{ path('admin_article', {'page': page + 1}) }}"> » </a>
        </div>
    </div>

{% endblock %}
