{% extends 'admin/adminbase.html.twig' %}

{% block title %}Editer commande{% endblock %}

{% block body %}

    <h1 class="center progressive">Editer commande</h1>

    <div class="limit">

        {# Message Flash #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="boxdotted flash-{{ label }}">
                    <h2 class="center">{{ message }}</h2>
                </div>
            {% endfor %}
        {% endfor %}

        {{ form_start ( form ) }}
        {{ form_widget ( form ) }}
        <button type="submit">Editer</button>
        {{ form_end ( form ) }}

    </div>

{% endblock %}
