{% extends 'base.html.twig' %}

{% block title %} Univers Street-Wear - {{parent()}} {% endblock %}

{% block body %}

{# STREET-WEAR GALLERY #}
<div id="gallery-jumbotron-bagage">
    <div>
        <img id="jumbo-img-kid" src="{{ asset('assets/img/logo/kid_univers.jpg')}}" alt="woman_univers">
    </div>

    <div>

        <div>
            <h2><strong>Gallerie Scolaire</strong></h2>
        </div>

        <div>
            <p>Pratique et robuste <br>
                en toutes circonstances</p>
        </div>

    </div>
</div>


<main id="gallery-main">

    <div class="container">

        {# Pagination #}
        <nav aria-label="Page navigation example">
            <ul class="pagination pg-blue justify-content-center">

                {% if page > 1 %}
                <li class="page-item ">

                    {% elseif page == 1 %}
                <li class="page-item disabled ">

                    {% endif %}

                    <a class="page-link" href="?page={{page -1}}">Précédent</a>
                </li>

                <li class="page-item ">
                    <span id="numberPage-pagination-kid" class="page-link">{{page}}</span>
                </li>

                <li class="page-item">
                    <a class="page-link" href="?page={{page +1}}">Suivant</a>
                </li>
            </ul>
        </nav>

        <div id="gallery-filtres" class="row">

            {% include 'article/gallery/filtres.html.twig' %}

            <hr class="hr-filtre">

            <div id="gallery-display" class="row">

                {% for article in articles %}
                {% if cat is null %}
                {% if article.stock != 0 %}
                {% if article.categories[0].name == 'Bagage' %}

                <div class="gallery-card" style="width: 18rem;">

                    <div>
                        <img class="card-img-top" src="{{ asset('assets/img/poster/') }}{{ article.poster }}" alt="produit de chez {{article.brand.name}}">
                    </div>

                    <div class="card-body">

                        <div>
                            <h5 class="card-title">{{article.name}}</h5>
                            <h4 class="card-brand">{{article.brand.name}}</h4>
                        </div>
                        <div>
                            <p class="card-color">Couleur :{{article.articleColor.name}}</p>
                            <p> Stock : {{article.stock}}</p>
                        </div>
                        <hr>
                        <div class="card-price">
                            <h2>{{article.price}}</h2>
                            <i class="fas fa-euro-sign"></i>
                        </div>
                        <div class="card-buttons">
                            <a href="{{ path('article_display' , {'id': article.id}) }}" class="btn btn-primary btn-lg active btn-sm"
                                role="button" aria-pressed="true">Détails</a>
                            <a href="#" class="btn btn-primary btn-lg active btn-sm" role="button" aria-pressed="true">Panier</a>
                        </div>

                    </div>

                </div>

                {% endif %}
                {% endif %}
                {% endif %}



                {% if cat is not null %}
                {% if article.stock != 0 %}
                {% if article.categories[0].name == 'Bagage' and article.brand.name == cat or
                article.articleColor.name
                == cat %}

                <div class="gallery-card" style="width: 18rem;">

                    <div>
                        <img class="card-img-top" src="{{ asset('assets/img/poster/') }}{{ article.poster }}" alt="Card image cap">
                    </div>

                    <div class="card-body">

                        <div>
                            <h5 class="card-title">{{article.name}}</h5>
                            <h4 class="card-brand">{{article.brand.name}}</h4>
                        </div>
                        <div>
                            <p class="card-color">Couleur :{{article.articleColor.name}}</p>
                            <p> Stock : {{article.stock}}</p>
                        </div>
                        <hr>
                        <div class="card-price">
                            <h2>{{article.price}}</h2>
                            <i class="fas fa-euro-sign"></i>
                        </div>
                        <div class="card-buttons">
                            <a href="{{ path('article_display' , {'id': article.id}) }}" class="btn btn-primary btn-lg active btn-sm"
                                role="button" aria-pressed="true">Détails</a>
                            <a href="#" class="btn btn-primary btn-lg active btn-sm" role="button" aria-pressed="true">Panier</a>
                        </div>

                    </div>

                </div>

                {% endif %}
                {% endif %}
                {% endif %}

                {% endfor %}

            </div>
</main>


{% endblock %}