
{# Système de filtre en INCLUDE dans les galleries correspondantes #}

<div class="brand-filtre">

    <div id="gallery-filtres" class="row">

        <div class="brand-filtre">
            <form class="form-inline" method="GET" action="#">
                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Marque</label>
                <select name="cat" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                    <option selected></option>

                    {% for brand in brands %}
                    <option value="{{brand.name}}"> {{brand.name}} </option>
                    {% endfor %}

                </select>
                <button type="submit" class="btn btn-elegant btn-sm">choisir</button>
            </form>
        </div>

        <div class="material-filtre">
            <form class="form-inline" method="GET" action="#">
                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Couleurs</label>
                <select name="cat" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">

                    <option selected></option>
                    {% for color in colors %}
                    <option placeholder="{{color.name}}" value="{{color.name}}">{{color.name}}</option>
                    {% endfor %}

                </select>
                <button type="submit" class="btn btn-elegant my-1 btn-sm">choisir</button>
            </form>
        </div>

        <div class="price-filtre">
            <form class="form-inline" method="GET" action="#">
                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Prix</label>
                <select name="price" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                    <option selected></option>
                    <option value="upperprice"> Prix croissant </option>
                    <option value="lowerprice"> Prix décroissant </option>
                </select>
                <button type="submit" class="btn btn-elegant my-1 btn-sm">choisir</button>
            </form>
        </div>

        {% if cat is not null %}

        <div>
            <a id="get-all-articles" href="{{ path('woman_gallery')}}" class="btn btn-success btn-sm" role="button">Afficher tous les
                articles de la gamme </a>
        </div>

        {% endif %}

    </div>