{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}


{# MAN #}
<div id="gallery-jumbotron-homme" class="card card-image">
    <div class="text-white text-center py-5 px-4 my-5">
        <div>
            <h2 id="gallery-title" class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Homme</strong></h2>
        </div>
    </div>
</div>


<main id="gallery-main">

    <div class="container">

        <div id="gallery-filtres" class="row">

            <div class="brand-filtre">

                <form class="form-inline">
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Marque</label>
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref-man1">
                        <option selected>...</option>
                        <option value="Lancaster"> Lancaster </option>
                        <option value="nafnaf"> Naf-naf </option>
                        <option value="Lacoste"> Lacoste </option>
                        <option value="sansonite"> Sansonite </option>
                    </select>
                    <button type="submit" class="btn btn-elegant btn-sm">choisir</button>
                </form>
            </div>

            <div class="price-filtre">

                <form class="form-inline">
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Prix</label>
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref-man2">
                        <option selected>...</option>
                        <option value="upperprice"> Le moins cher </option>
                        <option value="lowerprice"> Le plus cher </option>
                    </select>
                    <button type="submit" class="btn btn-indigo my-1 btn-sm">choisir</button>
                </form>
            </div>

            <div class="material-filtre">

                <form class="form-inline">
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Matière</label>
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref-man3">
                        <option value="">...</option>
                        <option value="cuir"> cuir </option>
                        <option value="tissus"> tissus </option>
                        <option value="tresse"> Tressé </option>
                    </select>
                    <button type="submit" class="btn btn-deep-purple my-1 btn-sm">choisir</button>
                </form>
            </div>
        </div>
    </div>

    <hr>

    <div id="gallery-display" class="row">

        {% for article in articles %}

        <div class="gallery-card" style="width: 18rem;">
            <div>
                <img class="card-img-top" src="{{ asset('assets/img/poster/') }}{{ article.poster }}" alt="Card image cap">
            </div>

            <div class="card-body">
                <div>
                    <h5 class="card-title">{{article.name}}</h5>
                    {# <h4 class="card-title">{{article.brand.id}}</h4> #}
                </div>
                <hr>
                <div class="card-price">
                    <h2>{{article.price}}</h2>
                    <i class="fas fa-euro-sign"></i>
                </div>

                <div class="card-buttons">
                    <a href="{{ path('article_display' , {'id': article.id}) }}" class="btn btn-primary btn-lg active btn-sm"
                        role="button" aria-pressed="true">Détails</a>
                    <a href="#" class="btn btn-primary btn-lg active btn-sm" role="button" aria-pressed="true">Panier</a>
                </div>

            </div>
        </div>

        {% endfor %}

    </div>
</main>


{% endblock %}