<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Primebag{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.15/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/style2.css') }}">
    {# <link rel="stylesheet" href="{{ asset('assets/css/base.css') }}"> #}

    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

    {% endblock %}
</head>

<header>

    {# Jumbotron logo #}
    {# <div id="jumbotron-base" class="jumbotron text-center unique-color-dark">
        <a href="{{path('home')}}">
            <div class="logo"></div>
        </a>
    </div> #}

    {# Logo et Symboles #}
    {# <div class="header-flex">
        <div class="header-flex-child">
            <a href="{{ path('home') }}"><img src="{{ asset('assets/img/primebag.png') }}" alt="Primebag"></a>
        </div>

        <div class="header-flex-child flexnowrap">
            <div class="symbol">
                <div>
                    <a href="{{path('user_register')}}"><div class="profil"></div></a><br>
                </div>
                <div class="note">Compte</div>
            </div>

            <div class="symbol">

            </div>
        </div>#}

    {# Menu avec les catégories #}
    <nav id="menu-navbar" class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('home')}}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Qui sommes-nous?</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('woman_gallery')}}">Femme</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('man_gallery')}}">Homme</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('kid_gallery')}}">Scolaire</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('bagage_gallery')}}">Bagages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('cart_view')}}">Panier : 
                        {% set cart = app.session.get('cart') %}
                        {# Vérif si le panier est initialisé (passé par cart_add) #}
                        {% if cart is not null %}
                            {% set nbArticles = cart.name|length %}
                            {{nbArticles}}
                        {% else %}
                            <span>Vide</span>
                        {% endif %}                           
                    </a>
                </li>
                {% if is_granted ('ROLE_USER') %}

                <li class="nav-item">
                    <a class="btn btn-light btn-sm" href="{{path('user_profile', {id: app.user.id})}}">Compte</a>
                </li>
                {% else %}

                <div id="account-log" class="dropdown">

                    <a class="btn btn-light dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Connection
                    </a>

                    <div class="dropdown-menu">
                        <form action="{{path('user_login')}}" method ="post" class="px-2 py-3">
                            <div class="form-group">
                                <label for="exampleDropdownFormEmail1">Votre adresse mail</label>
                                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@exemple.com" name="_username">
                            </div>
                            <div class="form-group">
                                <label for="exampleDropdownFormPassword1">Mot de passe</label>
                                <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password" name="_password">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                <label class="form-check-label" for="dropdownCheck">
                                    Se souvenir de moi
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Se connecter</button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{path('user_register')}}">Vous n'avez pas de compte? Inscrivez vous !</a>
                        <a class="dropdown-item" href="">Oublie de mot de passe?</a>
                    </div>
                </div>
                {% endif %}

                {% if is_granted ('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{path('logout')}}">Déconnection</a>
                </li>
                {% else %}
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
<!--Main Navigation-->

{% block body %}{% endblock %}


<!-- Footer -->
        {# <footer class="footer-flex">
        <div class="footer-flex-child">
            <p>Côté tendance, le sac à offrir se fait rond sinon rien, le sac vendome de Lancaster fera sensation. Vous ne passerez pas non plus à côté des sacs matelassés, le cadeau à l’impact maximum ou du sac léopard et python.<br><br>
            Vous trouverez tous les cadeaux les plus désirables du moment parmi Guess, Lancel ou bien encore Paul Marius.</p>
            <p><a href="{{ path('admin_article') }}">Admin</a> | <a href="{{ path('admin_add') }}">Admin Ajout</a></p>
        </div>
        <div class="footer-flex-child center">
            <div class="b">
            Catégories
            </div><br>
            <p>
            <a href="#">Femme</a>
            </p>
            <p>
            <a href="#">Homme</a>
            </p>
            <p>
            <a href="#">Scolaire</a>
            </p>
            <p>
            <a href="#">Bagages</a>
            </p>          
        </div>
        <div class="footer-flex-child">
            <div class="center b">
            Suivez-nous
            </div>
            <div class="boxflex">
            <div class="boxelement">
                <div id="fb"></div>
                <div class="text"><a href="#">Facebook</a></div>
            </div>
            <div class="boxelement">
                <div id="tw"></div>
                <div class="text"><a href="#">Twitter</a></div>
            </div>
            <div class="boxelement">
                <div id="instagr"></div>
                <div class="text"><a href="#">Instagram</a></div>
            </div>
            </div>
        </div>
        </footer> #}
<!-- Footer -->

{% block javascripts %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ asset('assets/js/jquery.elevatezoom.js') }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.15/js/mdb.min.js"></script>
<script src="{{ asset('assets/js/script.js') }}"></script>
<script src="{{ asset('assets/js/order.js') }}"></script>

{% endblock %}

</body>

</html>