{% extends 'base.html.twig' %}

{% block title %}Se connecter - {{parent()}}{% endblock %}

{% block body %}
<div class="buy-title">
<h3>Vérification et validation de la commande</h3>
</div>
{# A voir si c'est secured ou si je dois envoyer les infos via le controlleur : #}
  {% set user = app.user %}
  
  {% set cart = app.session.get('cart') %}

<div class="container">
    {# ///////////////////////////////////// #}
    {# /////////// Encart Client /////////// #}
    <div class="row buyLayerRows">
        {# partie gauche : coordonnées #}
        <div class="col-sm-6 buyInLayer">
            <strong>Adresse de livraison</strong><br>
            {{user.firstName}} {{user.lastName}}<br>
            {{user.address}}<br>
            {{user.city}}, {{user.zipCode}}<br>
            {{user.countryName}}<br>
            Tel : {{user.phoneNumber}}<br>
        </div>
        {# partie droite #}
        <div class="col-sm-6">
            <div class="container">
                <div class="row buyInLayer">
                    {# droite haut : mode paiement #}
                    <div class="col-12">
                        {# <strong>Carte de crédit :</strong><br> #}
                        
                        
                        <form action="{{ path('order_success') }}" method="post" id="payment-form">
                            <div class="form-row">
                                <label for="card-element">
                                    Carte de crédit
                                </label>
                                <div id="card-element">
                                    <!-- A Stripe Element will be inserted here. -->
                                </div>

                                <!-- Used to display form errors. -->
                                <div id="card-errors" role="alert"></div>
                            </div>
                            {# <button>Submit Payment</button> #}
                        {# </form> #}


                    </div>
                </div>
                <div class="row buyInLayer">
                    {# droite bas : code promo #}
                    <div class="col-12">
                        <strong>Code promotionnel : </strong>
                        Aucune promotion disponible pour le moment.
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# //////////////////////////////////////// #}
    {# /////////// Encart Livraison /////////// #}
    <div class="row buyLayerRows">
        {# partie gauche : date estimée #}
        <div class="col-sm-6 buyInLayerShipping">
            {# colissimo par défaut : #}
            <strong id="shippingTaxes">Frais : 5€ </strong><br />
            <strong id="deliveryDate">Date de livraison estimée : entre le 20/12/2018 et le 25/12/2018</strong>
            
        </div>
        {# partie droite : Choix mode de livraison #}
        <div class="col-sm-6 buyInLayerShipping">
            <strong>Choix mode de livraison :</strong><br>
            <div>
                <input type="radio" id="retraitMag" name="modeLivraison" value="retraitMag" checked>
                <label for="retraitMag">Retrait en magasin (Frais : aucun)</label>
            </div>            
            <div>
                <input type="radio" id="colissimo" name="modeLivraison" value="colissimo">
                <label for="colissimo">Colissimo (3 à 8 jours ouvrés. Frais : 5€)</label>
            </div>
            <div>
                <input type="radio" id="chronopost" name="modeLivraison" value="chronopost">
                <label for="chronopost">Chronopost (1 à 3 jours ouvrés. Frais : 10€)</label>
            </div>
        </div>
    </div>
    {# //////////////////////////////////////////// #}
    {# /////////// Encart Récapitulatif /////////// #}
    <div class="row align-items-center buyLayerRows">
        <div class="col-sm-8 buyInLayer">
            <strong>Récapitulatif de commande</strong><br />
            Articles :<span id="spanTotalCart"></span> € {#{{totalCart}} #} <br />  
            Livraison : <span id="spanDelivery">5</span> €<br />
            Code protionnel : <span></span><br />
            Total :<span id="spanTotalCost"></span>€
        </div>
        <div class="col-sm-4">
            <button class="btn btn-success btn-block">Acheter</button>
            </form>
        </div>        
    </div>    
</div>

<p>Des questions à propos de votre commande ? <a href="#">Contactez-nous</a></p>

{% endblock %}



{% block javascripts %}

<script>
    //////////////////////////////////////////////////////////////////////////////
    /////////////////////////////// Stripe ///////////////////////////////////////
    // Create a Stripe client.
    var stripe = Stripe('pk_test_4Ps2dWTAyilOKjxOqD3tnKRx');

    // Create an instance of Elements.
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
    base: {
        color: '#32325d',
        //lineHeight: '18px',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
        color: '#aab7c4'
        }
    },
    invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
    }
    };

    // Create an instance of the card Element.
    var card = elements.create('card', {style: style});

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');

    // Handle real-time validation errors from the card Element.
    card.addEventListener('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
        displayError.textContent = event.error.message;
    } else {
        displayError.textContent = '';
    }
    });

    // Handle form submission.
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
    event.preventDefault();

    stripe.createToken(card).then(function(result) {
        if (result.error) {
        // Inform the user if there was an error.
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
        } else {
        // Send the token to your server.
        stripeTokenHandler(result.token);
        }
    });
    });

    // Submit the form with the token ID.
    function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    // Submit the form
    form.submit();
    }
    ////////////////////////////////////////////////////////////////////////////////////


    ////////////////////////////////////////////////////////////////////////////////////
    // Fonction de changement du DOM (frais et dates livraison) sur le tunnel d'achat //
    var shippingTaxes = 5;
    var totalCart = {{totalCart}};
    var totalCost = totalCart + shippingTaxes;  
    //parseFloat(totalCart);
    
    {# {% set totalCost %}
    {{totalCost}} = totalCost;
    </script>
    {{dump(totalCost)}}
    <script> #}

    $('#spanTotalCart').text(totalCart);
    $('#spanTotalCost').text(totalCost);

    var today = new Date();
    var in1days = new Date();
    var in3days = new Date();
    var in8days = new Date();

    in1days.setDate(today.getDate()+1);
    in3days.setDate(today.getDate()+3);
    in8days.setDate(today.getDate()+8);

    $('input:radio[name=modeLivraison]').change(function () {
        //alert("function on change");
        if ($("input[name='modeLivraison']:checked").val() == 'colissimo') {
            // alert("colissimo checked");
            $('#shippingTaxes').text("Frais : 5€");
            $('#spanDelivery').text("5€");
            $('#deliveryDate').text("Date de livraison estimée : entre le " + in3days.toLocaleDateString() + 
                                    " et le " + in8days.toLocaleDateString() );
            var shippingTaxes = 5;
            var totalCost = totalCart + shippingTaxes;                                    
        }else if ($("input[name='modeLivraison']:checked").val() == 'chronopost') {
            // alert("chronopost checked");
            $('#shippingTaxes').text("Frais : 10€");
            $('#spanDelivery').text("10€");
            $('#deliveryDate').text("Date de livraison estimée : entre le " + in1days.toLocaleDateString() + 
                                    " et le " + in3days.toLocaleDateString() );            
            // $("#spanDelivery").attr("value", 10);
            var shippingTaxes = 10;   
            var totalCost = totalCart + shippingTaxes;                                                  
        }else {
            // alert("retraint magasin checked");
            $('#shippingTaxes').text("Frais : aucun");
            $('#spanDelivery').text("Aucun");
            $('#deliveryDate').text("Vous pouvez retirer votre commande à tout moment. (Consultez les horaires d'ouvertures de la boutique)");              
            // $("#spanDelivery").attr("value", 0);
            var shippingTaxes = 0;     
            var totalCost = totalCart + shippingTaxes;         
        }

        $('#spanTotalCart').text(totalCart);
        //$("#spanTotalCart").attr("value", totalCart);
        $('#spanTotalCost').text(totalCost);
    });
    ////////////////////////////////////////////////////////////////////////////////////
        
</script>
{% endblock %}