{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}

<main id="details-main">

   <div class="container">
      <div class="row">

         <div id="details-portfolio" class="col-sm">
            <img src="../../assets/img/poster/sac1_l.jpg" alt="">
         </div>

         <div class="col-sm">

            <div class="details-info">
               <h2>{{article.brand.name}}</h2>
               <strong>
                  <h1>{{article.name}}</h1>
               </strong>
               {{article.reference}}
               <hr>
               <h3>{{article.price}} Euros TTC</h3>
            </div>

            <hr>
            <div class="details-shopping-cart">
               <a href="{{ path('cart_add', {'id': article.id, 'name': article.name, 'ref': article.reference, 'price': article.price}) }}"><button type="button" class="btn btn-outline-dark waves-effect">Ajouter au panier</button>
            </div>
            <hr>

            <div class="details-description">

               <div class="list-group" id="list-tab" role="tablist">
                  <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home"
                     role="tab" aria-controls="home">Description</a>
                  <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile"
                     role="tab" aria-controls="profile">Photos</a>
               </div>

               <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                     {{article.description|trim|nl2br }}
                  </div>
                  <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">

                     <img id="zoom_05" src="../../assets/img/poster/{{ article.altPicture1 }}" data-zoom-image="../../assets/img/poster/{{ article.poster }}"
                        alt="">
                     <img src="../../assets/img/poster/{{ article.altPicture2 }}" alt="">
                     <img src="../../assets/img/poster/{{ article.altPicture3 }}" alt="">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>


</main>

{% endblock %}