{% extends 'base.html.twig' %}

{% block title %} Votre compte - {{parent()}}{% endblock %}

{% block body %}

    <h1>Votre profil : {{user.firstName}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Addresse</th>
                <th>Deuxième adresse</th>
                <th>Numéro de téléphone</th>
                <th>Email</th>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Pays</th>
                <th>Modifier ou supprimer le compte</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.secondaryAddress }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.zipCode }}</td>
                <td>{{ user.countryName }}</td>
                <td>
                <button type="submit"><a href="{{path('user_edit', {id: user.id })}}">Editer le profil</a></button>
                </td>
            </tr>
            <tr>
                <td colspan="14">no records found</td>
            </tr>

        </tbody>
    </table>

        <button type="submit"><a href="{{path('user_edit', {id: user.id })}}">Editer le profil</a></button>
        


{% endblock %}
