{% extends 'base.html.twig' %}

{% block title %} Votre compte - {{parent()}}{% endblock %}

{% block body %}

<h1>Votre profil : {{app.user.firstName}}</h1>

<main>

    <div class="container">

        <table class="table">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Addresse</th>
                    <th>Deuxième adresse</th>
                    <th>Numéro de téléphone</th>
                    <th>Email</th>
                    <th>Ville</th>
                    <th>Code postal</th>
                    <th>Pays</th>
                    <th>Modifier ou supprimer le compte</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ app.user.firstName }}</td>
                    <td>{{ app.user.lastName }}</td>
                    <td>{{ app.user.address }}</td>
                    <td>{{ app.user.secondaryAddress }}</td>
                    <td>{{ app.user.phoneNumber }}</td>
                    <td>{{ app.user.email }}</td>
                    <td>{{ app.user.city }}</td>
                    <td>{{ app.user.zipCode }}</td>
                    <td>{{ app.user.countryName }}</td>
                    <td>
                        <button type="submit"><a href="{{path('user_edit', {id: app.user.id })}}">Editer le profil</a></button>
                    </td>
                </tr>
                <tr>
                    <td colspan="14">no records found</td>
                </tr>

            </tbody>
        </table>

        <button type="submit"><a href="{{path('user_edit', {id: user.id })}}">Editer le profil</a></button>

    </div>

</main>

{% endblock %}