{% extends 'base.html.twig' %}

{% block title %} Votre compte - {{parent()}}{% endblock %}

{% block body %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <h1>Votre profil</h1>

    {{form_start(form, {'attr': {'novalidate' : 'novalidate' , 'class': 'form-horizontal', 'method': 'POST'}})}}


    
        {{form_label(form.firstName, 'Votre prénom', {'label_attr': {'class' : 'col-sm-2 control-label'}}) }}
            {{form_widget(form.firstName, {'attr': {'novalide': 'novalidate', 'class' : 'form-horizontal'}}) }}
        {{form_label(form.lastName, 'Votre nom', {'label_attr': {'class' : 'col-sm-2 control-label'}}) }}
            {{form_widget(form.lastName, {'attr': {'novalide': 'novalidate', 'class' : 'form-horizontal'}}) }}
        {{form_label(form.plainPassword.first, 'Votre mot de passe', {'label_attr': {'class' : 'col-sm-2 control-label'}}) }}
            {{form_widget(form.plainPassword.first, {'attr': {'novalide': 'novalidate', 'class' : 'form-horizontal'}}) }}
        {{form_label(form.plainPassword.second, 'Confirmer votre mot de passe', {'label_attr': {'class' : 'col-sm-2 control-label'}}) }}
            {{form_widget(form.plainPassword.second, {'attr': {'novalide': 'novalidate', 'class' : 'form-horizontal'}}) }}    
        {{form_label(form.email, 'Votre adresse mail', {'label_attr': {'class' : 'col-sm-2 control-label'}}) }}
            {{form_widget(form.email, {'attr': {'novalide': 'novalidate', 'class' : 'form-horizontal'}}) }}


        {{form_label(form.address, 'Votre adresse', {'label_attr': {'class' : 'col-sm-2 control-label'}}) }}
            {{form_widget(form.address, {'attr': {'novalide': 'novalidate', 'class' : 'form-horizontal'}}) }}
         {{form_label(form.zipCode, 'Votre code postal', {'label_attr': {'class' : 'col-sm-2 control-label'}}) }}
            {{form_widget(form.zipCode, {'attr': {'novalide': 'novalidate', 'class' : 'user_register[zipCode]'}}) }}
        {{form_label(form.city, 'Votre votre ville', {'label_attr': {'class' : 'col-sm-2 control-label'}}) }}
            {{form_widget(form.city, {'attr': {'novalide': 'novalidate', 'class' : 'user_register[city]'}}) }}

        {{form_label(form.secondaryAddress, 'Autre adresse (optionnel)', {'label_attr': {'class' : 'col-sm-2 control-label'}}) }}
            {{form_widget(form.secondaryAddress, {'attr': {'novalide': 'novalidate', 'class' : 'form-horizontal'}}) }}
        {{form_label(form.phoneNumber, 'Votre numéro de téléphone (optionnel)', {'label_attr': {'class' : 'col-sm-2 control-label'}}) }}
            {{form_widget(form.phoneNumber, {'attr': {'novalide': 'novalidate', 'class' : 'form-horizontal'}}) }}
       
        {{form_widget(form)}}
        <button type="submit">Editer le profil</button>
    {{form_end(form)}}



{% endblock %}
