{% extends 'base.html.twig' %}

{% block title %} Votre compte - {{parent()}}{% endblock %}

{% block body %}

<h1 class="center">Votre compte : {{app.user.firstName}}</h1>

<main class="user-container">

    <div class="container limit">

        <table class="table">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Addresse</th>
                    <th>Deuxième adresse</th>
                    <th>Numéro de téléphone</th>
                    <th>Email</th>
                    <th>Ville</th>
                    <th>Code postal</th>
                    <th>Pays</th>
                    <th>Modifier ou supprimer le compte</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ app.user.firstName }}</td>
                    <td>{{ app.user.lastName }}</td>
                    <td>{{ app.user.address }}</td>
                    <td>{{ app.user.secondaryAddress }}</td>
                    <td>{{ app.user.phoneNumber }}</td>
                    <td>{{ app.user.email }}</td>
                    <td>{{ app.user.city }}</td>
                    <td>{{ app.user.zipCode }}</td>
                    <td>{{ app.user.countryName }}</td>
                    <td>
                        <a class ="btn btn-warning"href="{{path('user_edit')}}">Editer le profil</a>
                        <br>
                        <br>
                        <a class ="btn btn-danger"href="{{path('user_delete')}}">Supprimer le profil</a>


                    </td>
                </tr>

            </tbody>
        </table>

        <div class="vos achats en cours">


            {% for order in orders %}


            <!-- Card -->
            <div class="card">


                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title">Votre commande {{order.orderNumber}}</h4>
                    <p>Effectuée le : {{ order.createdAt | date('d-m-Y H:i') }}</p>
                    <p>Est actuellement en <strong>{{order.orderStatus.name}}</strong> </p>
                    <p>Le paiement a été effectué par {{order.paymentMethod.name}} pour une somme totale de : </p>    
                    
                    <strong>Cette commande comprend :</strong>
                    <hr>
                    {% for orderContent in order.orderContents %}
                    
                    <p>{{orderContent.quantity}} quantité de l'article : {{orderContent.articleRef.name}} , pour un montant unitaire de {{orderContent.articleRef.price}}  Euros TTC  </p>
                    
                    {% set soustotal = orderContent.quantity * orderContent.articleRef.price  %}
                    {% set total = soustotal + soustotal  %}

                    <p>Soit un sous-montant de <strong> {{soustotal}}  Euros </strong> concernant cet article</p>
                    <hr>

                    {% endfor %}

                </div>

            </div>
            <!-- Card -->


            {% endfor %}


        </div>

    </div>

</main>

{% endblock %}
