{% extends 'base.html.twig' %}

{% block title %}Engistrement{% endblock %}

{% block body %}

<main>

    <div class="count-title">
        <h3>Création de compte</h3>
    </div>

    <div id="user-register" class="container-fluid">

        <div class="regiter-form-left">

            <h4>1. Vos informations personnelles</h4>

            {% form_theme form 'bootstrap_4_layout.html.twig' %}
            {{form_start(form, {'attr': {'novalidate' : 'novalidate' , 'class': 'form-horizontal', 'method':'POST'}})}}
            
            <div class="form-group">
                {{ form_label(form.firstName , 'Votre prénom') }}
                {{ form_widget(form.firstName)}}
            </div>

            <div class="form-group">
                {{ form_label(form.lastName, 'Votre nom') }}
                {{ form_widget(form.lastName)}}
            </div>

            <div class="form-group">
                {{ form_label(form.zipCode , 'Votre code postale') }}
                {{ form_widget(form.zipCode) }}
                <input type="button" id="btSubmit" value="Entrer un code postale et cliquer ici" />
            </div>

            <div class="form-group">
                {{ form_label(form.city , 'Votre ville') }}
                {{ form_widget(form.city)}}
            </div>

            <div class="form-group">
                {{ form_label(form.address,'Votre adresse') }}
                {{ form_widget(form.address)}}
            </div>

            <div class="form-group">
                {{ form_label(form.secondaryAddress , 'Votre seconde adresse (optionnel)') }}
                {{ form_widget(form.secondaryAddress) }}
            </div>

            <div class="form-group">
                {{ form_label(form.phoneNumber , 'Votre téléphone (optionnel)') }}
                {{ form_widget(form.phoneNumber) }}
            </div>

        </div>

        <div class="regiter-form-right">

            <h4>2. Vos informations de connexion</h4>

            <div class="form-group">
                {{ form_label(form.email , 'Votre email*') }}
                {{ form_widget(form.email) }}
            </div>

            <div class="form-group">
                {{ form_label(form.plainPassword.first , 'Votre mot de passe') }}
                {{ form_widget(form.plainPassword.first) }}
            </div>

            <div class="form-group">
                {{ form_label(form.plainPassword.second , 'Confirmation du mot de passe') }}
                {{ form_widget(form.plainPassword.second) }}
            </div>

            <button class="btn btn-primary" type="submit">S'inscrire</button>

            {{form_end(form)}}
            * votre email est votre login
        </div>

    </div>
</main>
{% endblock %}
